/*  logo-studio in header: #000000;
    hero-section and footer bg: #2F303A; 
    section our team bg: #F5F4FA;
    footer mail and tel color: rgba(255, 255, 255, 0.6);
    ?strange line between header and hero section with color #ECECEC
*/
:root {
    --primary-color: #757575; /*MAIN COLOR nav-address, text*/
    --secondary-color: #212121; /*nav-link, section titles*/
    --accent-color: #2196F3; /*accent*/
    --bg-color: #FFFFFF; /*bg, hero-title, team-item, footer post address, logo-studio in footer*/
    --transition-data: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background-color: var(--bg-color);
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.visually-hidden {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden;
}


/*========HEADER========*/
.main-header {
    border-bottom: 1px solid #ECECEC;
}
.header-container,
.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #3e1c1c;
}
.logo-web {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-list-item + .nav-list-item {
    margin-left: 50px;
}
.nav-link {
    padding: 32px 0;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;   
    color: var(--secondary-color);
    transition: color var(--transition-data);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.current {
    position: relative;
    color: var(--accent-color);
}
.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.nav-contact-list {
    display: flex;
    margin-left: auto;
}
.nav-contact-item:not(:last-child) {
    margin-right: 50px;
}
.nav-contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    transition: color var(--transition-data);
}
.nav-contact-link:hover,
.nav-contact-link:focus {
    color: var(--accent-color)
}
.contact-list-icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill var(--transition-data);
}
.nav-contact-link:hover .contact-list-icon,
.nav-contact-link:focus .contact-list-icon {
    fill: var(--accent-color);
}



/*=======HERO SECTION=======*/
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;   
    text-align: center;
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-title {
    margin: 0 auto 30px auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
    color: var(--bg-color);
}
.hero-button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    transition: background-color var(--transition-data);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/*=======PECULIARITIES SECTION=======*/
.peculiarities-list {
    display: flex;
    flex-wrap: wrap;
}
.peculiarities-list-item {
    width: 270px;
}
.peculiarities-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.peculiarities-list-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}
.peculiarities-list-icon {
    width: 70px;
    height: 70px;
}
.peculiarities-title {
    margin-bottom: 10px; 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.peculiarities-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*=======WHAT WE DO SECTION=======*/
.occupation-section {
    padding-top: 0;
}
.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-color);
}
.occupation-list {
    display: flex;  
}
.occupation-list-item:not(:last-child) {
    margin-right: 30px;
}
.occupation-list-container {
    position: relative;
}
.occupation-list-text {
    position: absolute;
    bottom: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bg-color);
    background-color: rgba(47, 48, 58, 0.8); 
    }
/*=======OUR TEAM SECTION=======*/
.team-section {
    background-color: #F5F4FA;
}
.team-list {
    display: flex;
}
.team-item {
    background-color: var(--bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
.team-item-text-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-title,
.team-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.team-title {
    margin-bottom: 10px;  
    font-weight: 500;  
    color: var(--secondary-color);
}
.team-text {
    margin-bottom: 16px;
}
.social-links-list {
    display: flex;
    justify-content: center;
}
.social-links-list-item:not(:last-child) {
    margin-right: 10px;
}
.social-links-list-item {
    width: 44px;
    height: 44px;
}
.social-links-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-color);
    transition: background-color var(--transition-data);
}
.social-links-list-link:hover,
.social-links-list-link:focus {
    background-color: var(--accent-color);
}
.team-social-list-icon {
    fill: #afb1b8;
    transition: fill var(--transition-data);
}
.social-links-list-link:hover .team-social-list-icon,
.social-links-list-link:focus .team-social-list-icon {
    fill: var(--bg-color);
}

/*=======OUR cLIENTS=======*/
.clients-list {
    display: flex;
    justify-content: center;
}
.clients-list-item:not(:nth-child(6n)) {
    margin-right: 30px;
}
.clients-list-item {
    width: 170px;
    height: 92px;
}
.clients-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border var(--transition-data);
}
.clients-list-link:hover,
.clients-list-link:focus {
    border: 1px solid var(--accent-color);
}

.client-logo {
    fill: #afb1b8;
    transition: fill var(--transition-data);
}
.clients-list-link:hover .client-logo,
.clients-list-link:focus .client-logo {
    fill: var(--accent-color);
}

/*=======FOOTER=======*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.container-flex {
    display: flex;
    align-items: baseline;
}
.footer-contact-part {
    margin-right: 70px;
    flex-grow: 1;
}
.logo-studio {
    color: var(--bg-color);
}
.footer-address {
    margin-top: 20px;
    font-style: inherit;
}
.footer-address-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-contact {
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color var(--transition-data);
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}
.post-address {
    color: var(--bg-color);
}
.footer-social-part {
    margin-right: 93px;
}
.footer-title {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bg-color);
}
.footer-social-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-data);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}
.footer-social-link-icon {
    fill: var(--bg-color);
}
.footer-subcribe-form {
    display: flex;
    align-items: center;
}
.footer-subcribe-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    color: var(--bg-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
.footer-subcribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/*=======кнопка визуально шире инпута=======*/
.footer-subscribe-button {
    min-width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    transition: background-color var(--transition-data);
}
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #188CE8;
}
.footer-subscribe-button-icon {
    margin-left: 10px;
}

/*=======PORTFOLIO=======*/
.filter-button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.filter-button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    transition: box-shadow var(--transition-data), 
          background-color var(--transition-data), 
                     color var(--transition-data);
}
.filter-button:hover,
.filter-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: var(--bg-color);
}
.filter-button-item:not(:last-child) {
    margin-right: 8px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
    width: calc((100% - 60px) / 3); 
}
.portfolio-link { 
    display: block;
    color: inherit;
    text-decoration: none;
    transition: box-shadow var(--transition-data);  
}
.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-hover-container {
    position: relative;
    overflow: hidden;
}
.portfolio-hover-container::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--transition-data);
}  
.portfolio-link:hover .portfolio-hover-container::before,
.portfolio-link:focus .portfolio-hover-container::before {
    transform: translateY(0);
}
.portfolio-hover-text {
    position: absolute;
    bottom: -100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--bg-color); 
    transition: bottom var(--transition-data);
}
.portfolio-link:hover .portfolio-hover-text,
.portfolio-link:focus .portfolio-hover-text {
    bottom: 0;
    opacity: 1;
}
.portfolio-item-text-container {
    padding: 20px 24px;
    border: 1px solid #EEEEEE ;
    border-top: 0;
}
.portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)){
    margin-bottom: 30px;
}
.portfolio-title { 
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/*=======MODAL WINDOW=======*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 1;
    visibility: visible; */
    background: rgba(0, 0, 0, 0.2);   
    transition: opacity var(--transition-data), 
             visibility var(--transition-data);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
    background: var(--bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: translate var(--transition-data)
                    scale var(--transition-data);
}
.backdrop.is-hidden .modal {
    transform: translate(-30%, -30%) scale(0.7);
}

.modal-close-btn {   
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;   
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
    cursor: pointer;  
}
.modal-close-btn-icon {
    transition: fill var(--transition-data);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--accent-color);
}
.modal-form {
    display: flex;
    flex-direction: column;
    width: 528px;   
    padding: 40px;
}
.modal-form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;  
    color: var(--secondary-color);
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-form-label-text {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.modal-form-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-data),
                      cursor var(--transition-data);
}
.modal-form-input:hover,
.modal-form-input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    cursor: pointer;
}
.modal-form-input-container {
    position: relative;
    display: block;
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--secondary-color);
    transition: fill var(--transition-data);
}
.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}
.modal-form-textarea-field {
    margin-bottom: 20px;
}
.modal-form-textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-data);
}
.modal-form-textarea:hover,
.modal-form-textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}
.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-form-rules-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.modal-form-icon-checkbox {   
    fill: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 7px;
    transition: border var(--transition-data),
                  fill var(--transition-data);
}
.modal-form-rules-checkbox:focus + .modal-form-icon-checkbox {
    border: 1px solid var(--accent-color);
}
.modal-form-rules-checkbox:checked + .modal-form-icon-checkbox {
    fill: var(--accent-color);
    border: none;
}
.modal-form-rules-link {
    color: var(--accent-color);
}
.modal-form-send-btn {
    min-width: 200px;
    align-self: center;
    padding: 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    transition: background-color var(--transition-data),
                      box-shadow var(--transition-data);
}
.modal-form-send-btn:hover,
.modal-form-send-btn:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
}


